.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    max-width: 850px;
}


.grid img, .grid video{
    max-width: 100%;
    background-color: black;
}

h2{
    font-size: 3rem;
    margin-block-end: 2.2rem;
}

.coral-colsif{
    grid-column: 1/3;
}

.capoeira{
    grid-row: 2/4;
}

.video{
    grid-row: 2/3;
}

@media (max-width: 812px){
    .grid{
        grid-template-columns: 1fr;
    }

    .gl{
        margin: auto;
        grid-column: auto;
        grid-row: auto;
    }


}