.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 850px;
}


.grid img {
    width: 100%;
    height: 200px;
    background-color: black;
}

h2{
    font-size: 3rem;
    margin-block-end: 2.2rem;
}