main {
  height: 1fr;
}

main .redacao_box {
  width: 600px;
  height: 1fr;
  margin: auto;
}

main .tema {
  font-size: 2.5em;
  text-align: center;
  margin: 50px auto 25px;
  width: 200px;
}

main .redacao {
  width: 500px;
  height: 700px;
  margin: 20px auto 100px auto;
  filter: blur(4px);
  animation-duration: 0.5s;
  animation-name: blur-back;
  display: flex;
  transition: transform 0.5s;
  position: relative;
  z-index: 0;
}
main img {
  width: inherit;
  height: inherit;
  border-radius: 20px;
}

main .redacao:hover {
  animation-duration: 0.5s;
  animation-name: blur;
  transform: scale(1.07);
  filter: blur(0);
  z-index: 2;
}
main .redacao img {
  width: 100%;
}

 .sobreposto{
  position: absolute;
  opacity: 1;
  width: 482px;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.726);
  z-index: 1;
  margin-left: 40px;
  padding: 28px;
  text-align: justify;
}

.sobreposto:hover{
  z-index: 0;
  opacity: 0;
  transition: 0.2s;
}

@keyframes blur {
  0% {
    filter: blur(4px);
  }
  50% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0px);
  }
}
@keyframes blur-back {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(2px);
  }
  100% {
    filter: blur(4px);
  }
}
