@font-face {
  font-family: "System Font Regular";
  src: url("..//fonts/System Font Regular.ttf") format("truetype");
}
/* Estilo da caixa principal */
main .box {
  max-width: 852px;
  height: 1fr;
  margin: 24px auto;
}
/* Estilo dos títulos */
main h1 {
  text-align: center;
  margin: 32px auto 32px;
  font-size: 3em;
}
/* Estilo dos parágrafos */
main .texto p {
  text-align: justify;
  text-indent: 2.5em;
  font-size: 1.2em;
  max-width: 800px;
  margin: 15px auto;
  padding-inline: 1rem;
}
/* Estilo das imagens */
main .img {
  margin: 40px auto;
}
/* Estilo das imagens dentro do contêiner */
main .img img {
  width: calc(100% - 2rem);
  padding-inline: 1rem;
  margin: auto;
}
/* Estilo da linha horizontal */
hr {
  max-width: 95%;
  margin: auto;
}
.contribuidores_box {
  max-width: 1200;
  min-width: 280px;
  height: 1fr;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contribuidores {
  height: 530px;
  width: 304px;
  margin: 10px 6px 40px 6px;
  padding: 15px;
  background-color: rgb(228, 228, 228);
  border-radius: 15px;
  margin: 50px auto 0 auto;
}
.contribuidores #foto-de-perfil {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0, 0.5);
}
.nomes {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: "System Font Regular";
  margin: 10px 0 10px 0;
}
.email {
  text-align: left;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  text-wrap: wrap;
  display: flex;
  justify-content: start;
}
/* Estilo para os e-mails grandes*/
.email_gg {
  font-size: 19px;
}
/* Estilo para os e-mails do pequenos */
.email_pp {
  font-size: 21px;
}
/* Estilo para o link da contribuição */
p #github {
  display: block;
  background-color: #696969;
  width: 100px;
  margin: 15px auto;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  transition: 0.4s;
}
/* Efeito de hover para o link da contribuição */
#github:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  background-color: black;
  transform: scale(1.2);
  padding: 0;
  transition: 0.4s;
}
a svg:hover path {
  fill: white;
  transition: 1s;
}
a svg {
  width: 80px;
  height: 80px;
}

/* Estilo para links */
p a {
  font-size: 20px;
  font-family: "System Font Regular";
  text-align: left;
}
/* Efeito de hover para links */
p a:hover {
  color: var(--contrast-color);
  font-family: "System Font Regular";
  text-decoration: underline;
}

/* Estilos para telas menores */
@media (max-width: 992px) {
  /* Redefinição do tamanho do título */
  main h1 {
    font-size: 2.2em;
  }
  /* Redefinição do tamanho do parágrafo */
  main .texto p {
    font-size: 1em;
  }
}
